/*Fuentes*/
@font-face {
  font-family: "Fredoka";
  src: url('./Fredoka-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "Fredoka One";
  src: url('./FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "CasinoFlat";
  src: url('./CasinoFlatShadow.ttf') format('truetype');
}

#back{
  background-image: url("./Images/backgrounds/background3.jpg");
  min-height: 100vh;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Fredoka";
  background-image: url("./Images/backgrounds/background3.jpg");
  -webkit-box-shadow: inset -1px 28px 40px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -1px 28px 40px -15px rgba(0,0,0,0.75);
  box-shadow: inset -1px 28px 40px -15px rgba(0,0,0,0.75);
  color: white;
  font-size: 1em;
  width: 100%;
}

.autocenter { 
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.titulo{
  font-family: "CasinoFlat";
  text-align: center;
  font-size: 80px;
  letter-spacing: 0;
  padding: .25em 0 0;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
  background: url("./Images/backgrounds/text5.jpg") repeat-x;
  -webkit-background-clip: text;
  background-clip: text;
  /*Animar el fondo*/
  -webkit-text-fill-color: transparent;
  animation: fondo 30s linear infinite;
  /*Activar la aceleracion de harware para mejor animacion*/
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  /*Hacer borde*/
  -webkit-text-stroke: 3px rgb(255, 255, 255);
}

.sticky{
  max-width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.infoc{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  --varheight: 35px;
  overflow: hidden;
  max-height: var(--varheight);
  border-radius: 10px;
  width: 70%;
  transition: max-height 1s ease-out;
  padding-top: 5px;
  background: rgba(255, 208, 0, 0.4);
  border-radius: 16px;
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(150, 127, 0, 0.73);
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 13px 33px rgba(0,0,0,0.63); 
  box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.63);
}

.infoc:hover{
  max-height: 800px;
  transition: max-height 0.25s ease-in;
}

.imgc{
  padding-bottom: 10px;
  box-sizing: border-box;
  max-height: var(--varheight);
  width: 100%;
  margin-bottom: 20px;
  padding-left: 15px;
  margin-bottom: 0;
}

.imgc img{
  height: 17px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: left;
  padding-top: 0;
}

h1{
  color: white;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Fredoka One";
  font-size: 30px;
  font-weight: 600;
  -webkit-text-stroke: 1.5px black;
}

p{
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin-top: 0;
}

a{
  font-weight: 400;
  color: blue;
  text-decoration: underline;
}
h3{
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  width: 100%;
}



/*Animaciones*/
@keyframes fondo {
	0% { background-position: 100% 50%; }
	50% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

@media only screen and (max-width: 768px) {
  .infoc{
    width: 95%;
    max-height: 800px;
  }
  .imgc{
    max-height: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .stickyb{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    z-index: -5;
  }
}


















